* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    transition: all 0.3s ease-in-out;
    max-height: 600px;
    overflow: scroll;
  }
  
  .form-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 25px;
    color: #666;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 25px;
  }
  
  .form-group label {
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
    color: #333;
    font-size: 14px;
  }
  
  input[type="text"],
  textarea,
  select,
  input[type="number"] {
    width: 100%;
    padding: 12px 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:hover,
  textarea:hover,
  select:hover,
  input[type="number"]:hover {
    border-color: #3a9c42;
  }
  
  input[type="text"]:focus,
  textarea:focus,
  select:focus,
  input[type="number"]:focus {
    border-color: #3a9c42;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
  }
  
  textarea {
    min-height: 100px;
    resize: vertical;
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 10px;
  }
  
  .slider-container {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
  }
  
  .slider-container input[type="range"] {
    flex: 1;
    margin-right: 10px;
    
  }
  
  .success {
    background-color: #3a9c42;
    color: #fff;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .success:hover {
    background-color: #3a9c42;
  }
  
  .success:active {
    transform: scale(0.98);
  }
  
  input:disabled,
  textarea:disabled,
  select:disabled {
    background-color: #e9ecef;
  }
  
  .form-group .error-message {
    color: #e74c3c;
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .form-container {
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  
    h2 {
      font-size: 24px;
    }
  
    button[type="submit"] {
      font-size: 16px;
      padding: 10px 15px;
    }
  }
  
  /* Checkbox & Radio Buttons Custom Styles */
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    font-size: 14px;
    font-weight: normal;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  
  input[type="checkbox"] + label:before,
  input[type="radio"] + label:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #3a9c42;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    transition: background-color 0.3s;
  }
  
  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before {
    background-color: #3a9c42;
    border-color: #3a9c42;
  }
  
  input[type="radio"]:checked + label:before {
    border-radius: 50%;
  }
  
  .group-title{
    padding: 15px 0px;
  }

  .error {
    background-color: #666;
    color: #fff;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .error:hover {
    background-color: #666;
  }
  
  .error:active {
    transform: scale(0.98);
  }
  .mandatory{
    color: #e74c3c;
  }